@import "tailwindcss";

:root{
    --clr-gold:#bc8e5b;
}
body{
    background-color: #e0e0e0;
}
.ant-btn-primary, .ant-menu-item-selected{
    background-color: var(--clr-gold) !important;
}
.ant-input-affix-wrapper-focused, .ant-input-outlined:hover{
    border-color: var(--clr-gold) !important;
   box-shadow: 0 0 0 2px #bc8f5b2d !important;
}
.ant-input-outlined:focus{
    box-shadow: 0 0 0 2px #bc8f5b4b !important;
}
.ant-btn-default:hover, .ant-pagination-item-active{
    border-color: var(--clr-gold) !important;
    color: var(--clr-gold) !important;
}
.ant-pagination-item-active > a, .ant-spin-dot{
    color:var(--clr-gold) !important;
}
